<p id="notice"><%= notice %></p>

<h1>Contacts</h1>


<div id="contacts" class="transitions-enabled">
  <% @contacts.each do |contact| %>
    <div class="box panel panel-default">
     <div class="panel-body">
        <%= contact.description %>
        <%= contact.user.email if contact.user %>
        <%= link_to 'Show', contact_path(contact) %>
        <% if contact.user == current_user %>
          <%= link_to 'Edit', edit_contact_path(contact) %>
          <%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Contact', new_contact_path %>
<% end %>