

<!--<p id="notice"><%= notice %></p>-->


<%= render 'pages/home' unless user_signed_in? %>
<% if user_signed_in? %>

  <h1>Contacts</h1>
  <%= link_to 'New Contact', new_contact_path, class: "btn btn-primary" %>


  <div id="contacts" class="transitions-enabled">
    <% @contacts.each do |contact| %>
      <div class="box panel panel-default">
        <%= image_tag contact.image.url(:medium) %>
          <div class="panel-body">
            <p><strong>name:</strong> <%= contact.first_name %> <%= contact.last_name %></p>
            <p><strong>e:</strong> <%= contact.email %></p>
            <p><strong>p:</strong> <%= contact.phone_number %></p>        
            <%= link_to 'Show', contact_path(contact) %>

            <% if contact.user == current_user %>
              <%= link_to edit_contact_path(contact) do %>
                <span class="glyphicon glyphicon-edit"></span>
                Edit
              <% end %>
              <%= link_to contact, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                Delete
              <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
<% end %>


<br>

<div class="center">
   <%= will_paginate @contacts, renderer: BootstrapPagination::Rails %>
</div>



