<%= link_to 'Back', contacts_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        TEST
      </div>
      <div class="panel-body">
        <%= image_tag @contact.image.url(:medium) %>


        <p><strong>name:</strong> <%= @contact.first_name %> <%= @contact.last_name %></p>
        <p><strong>e:</strong> <%= @contact.email %></p>
        <p><strong>p:</strong> <%= @contact.phone_number %></p>        
        <% if @contact.user == current_user %>
          <%= link_to edit_contact_path(@contact) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>

